git+https://github.com/ravenoak/arango-orm@update_meta#egg=arango-orm
git+https://github.com/QuaererePlatform/willamette-common@develop#egg=quaerere-willamette-common
git+https://github.com/QuaererePlatform/quaerere-base-common@develop#egg=quaerere-base-common
git+https://github.com/QuaererePlatform/quaerere-base-flask@develop#egg=quaerere-base-flask